body{
	
}

.fullscreen {
	height:100vh;
  	background: -webkit-radial-gradient(left top,circle cover,rgb(12,180,206),rgb(6,116,236) 100%);
	color: white;  
}

h1{
	font-size: 3em;
}
.intro{
	padding: 5%;
}
.intro_text{
	margin-top: 30%;
	padding: 50px;
}
.line-blue{
	border-color: #0cb4ce;
    border-style: solid;
    border-top-width: 2px;
    width: 90px;
}
.header-img{
	max-width: 500px;
	max-height: 600px;
	margin: 0 auto;

}
.header-img img{
	max-height: 700px;
}

.appPlay{
	width: 70%
}
.video{
	padding: 50px;
}
.features{
	background-color: black;
}
.features h2{
	color: white;
}

.features .thumbnail{
	border: none;
	padding: 40px;
	border-radius: 0px;
}
.features img{
	width: 80%;
}

